.automaton-designer .node {
    fill: none;
    stroke: black;
    pointer-events: bounding-box;
}

.automaton-designer .node.dragging {
    cursor: move;
}

.automaton-designer .node.selected circle,
.automaton-designer .node.selected polyline {
    stroke: blue;
}

.automaton-designer .node text {
    text-anchor: middle;
    font-family: Times, serif;
    font-size: 14px;
    fill: black;
    stroke: none;
}

.automaton-designer .node.selected text {
    fill: blue;
}

.automaton-designer .node polyline {
    stroke-width: 2;
}
