.ant-layout-content .ant-layout {
    padding: 10px;
    overflow: hidden;
}

.ant-layout-content h1 {
    text-align: left;
    white-space: nowrap;
}

.ant-layout-content .toolbar {
    width: 100%;
    display: inline-flex;
}

.ant-layout-content .toolbar>* {
    margin-left: 4px;
}

.ant-layout-content .toolbar>*:first-child {
    margin-left: 0;
}

.ant-layout-content .test-words.accept {
    padding-bottom: 4px;
}