.automaton-designer .container>svg .edge {
    pointer-events: bounding-box;
}

.automaton-designer .container>svg .edge.linking {
    pointer-events: none;
}

.automaton-designer .container>svg .edge .arrow {
    fill: black;
    stroke: black;
}

.automaton-designer .container>svg .edge.selected .arrow {
    fill: blue;
    stroke: blue;
}

.automaton-designer .container>svg .edge .line {
    fill: none;
    stroke: black;
}

.automaton-designer .container>svg .edge.selected .line {
    stroke: blue;
}

.automaton-designer .container>svg .edge.selected text {
    fill: blue;
}