.automaton-viewer-container {
    background: white;
    margin-top: 4px;
    min-height: 320px;
    display: flex;
    align-items: center;
}

.automaton-viewer-container>svg {
    margin: 0 auto;
    display: block;
}