.automaton-designer-container {
    position: relative;
    background: white;
    margin-top: 4px;
    min-height: 600px;
    user-select: none;
}

.automaton-designer {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}