.automaton-designer {
    overflow: hidden;
}

.automaton-designer .toolbar {
    width: 100%;
    display: inline-flex;
}

.automaton-designer .toolbar>* {
    margin-left: 4px;
}

.automaton-designer .toolbar>*:first-child {
    margin-left: 0;
    min-width: 180px;
    line-height: 32px;
}

.automaton-designer .toolbar .debugging-symbols {
    padding-left: 11px;
}

.automaton-designer .toolbar .debugging-symbols>* {
    display: inline-block;
    width: 16px;
    text-align: center;
}

.automaton-designer .toolbar .debugging-symbols .consumed {
    text-decoration: line-through;
}

.automaton-designer .toolbar .debugging-symbols .current {
    background-color: lightpink;
}

.automaton-designer .toolbar .ant-input-suffix .anticon-check {
    color: green;
}

.automaton-designer .toolbar .ant-input-suffix .anticon-close {
    color: red;
}

.automaton-designer .container {
    margin-top: 4px;
    min-height: 600px;
    position: relative;
}

.automaton-designer .container>svg {
    user-select: none;
    background: white;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}