body, #root, #root > .ant-layout {
  width: 100%;
  height: 100%;
}

.ant-layout-header {
  position: fixed;
  z-index: 1;
  width: 100%;
  padding: 0 10px;
  line-height: 48px;
  height: 54px;
  box-shadow: 1px 2px 8px rgba(0,0,0,0.45);
  background: #101112;
}

.ant-layout-header .logo {
  font-family: fantasy;
  font-size: x-large;
  float: left;
}

.ant-layout-header .logo .icon {
  animation: logo-icon-spin infinite 20s linear;
  height: 32px;
  pointer-events: none;
}

.app-logo-icon {
  animation: logo-icon-spin infinite 20s linear;
  height: 50vmin;
  pointer-events: none;
}

@keyframes logo-icon-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ant-layout-header .links {
  float: right;
}

.ant-layout-header .links a {
  margin: 0 10px;
}

.ant-layout-sider {
  overflow: auto;
  height: 100%;
  position: fixed;
  left: 0;
  top: 54px;
  box-shadow: 1px 2px 8px rgba(0,0,0,0.45);
  background: #282b2d;
}

.ant-layout-sider .ant-layout {
  margin-left: 200px;
}

.ant-layout-content {
  background: #b7bcc0;
  padding: 24px;
  margin: 54px 0 0 300px;
  text-align: center;
}